 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/WhatsAppImage2022-03-31at16.43.11.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 871px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 201px auto 0 486px;
}

.u-section-1 .u-image-1 {
  height: 106px;
  width: 357px;
  margin: 11px auto 0 392px;
}

.u-section-1 .u-text-2 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  margin: 22px auto 0 97px;
}

.u-section-1 .u-text-3 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 47px 104px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 64px auto 60px 452px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 625px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 439px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 287px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 16px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 220px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 475px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: 118px;
  background-image: none;
  margin: 47px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: bold;
  font-family: Lato, sans-serif;
  font-size: 3.75rem;
  margin: -92px calc(((100% - 1140px) / 2) + 658px) 0 calc(((100% - 1140px) / 2) + 224px);
}

.u-section-2 .u-list-1 {
  width: 1142px;
  margin: 63px auto 10px calc(((100% - 1140px) / 2) + -1px);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 558px);
    margin-left: calc(((100% - 940px) / 2) + 124px);
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    min-height: 216px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 448px);
    margin-left: calc(((100% - 720px) / 2) + 14px);
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 282px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1048px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
    height: 74px;
    margin-top: 7px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -52px;
    margin-right: calc(((100% - 340px) / 2) + 126px);
    margin-left: calc(((100% - 340px) / 2) + -44px);
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 64px;
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 283px;
}

.u-section-3 .u-list-1 {
  width: 1142px;
  margin: 10px -1px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 217px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-3 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 283px;
}

.u-section-4 .u-list-1 {
  width: 1142px;
  margin: 10px -1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 217px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-4 .u-icon-1,
.u-section-4 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-2,
.u-section-4 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-3,
.u-section-4 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-4,
.u-section-4 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 344px;
}

.u-section-5 .u-list-1 {
  width: 561px;
  margin: 11px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 254px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-5 .u-icon-1,
.u-section-5 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.51) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.51) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-5 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-2,
.u-section-5 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.51) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-5 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.51) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-5 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  min-height: 797px;
}

.u-section-6 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + -88px);
}

.u-section-6 .u-rotation-parent-1 {
  width: 540px;
  height: 91px;
  margin: -248px 0 0 auto;
}

.u-section-6 .u-shape-2 {
  width: 540px;
  height: 91px;
  background-image: none;
}

.u-section-6 .u-text-1 {
  font-weight: bold;
  font-family: Lato, sans-serif;
  font-size: 3.75rem;
  margin: -79px calc(((100% - 1140px) / 2) + 48px) 0 calc(((100% - 1140px) / 2) + 650px);
}

.u-section-6 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  margin: 55px auto 60px calc(((100% - 1140px) / 2) + 191px);
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Nainital_metro.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-2 {
  margin: 316px auto 0;
}

.u-section-6 .u-image-2 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ranikhet_0-gigapixel-art-scale-2_00x.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-6 .u-text-3 {
  margin: 344px auto 0;
}

.u-section-6 .u-text-4 {
  margin: -66px auto 0;
}

.u-section-6 .u-image-3 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/1521743970_Jhula-Devi-Temple-Ranikhet1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-6 .u-text-5 {
  margin: 352px auto 0;
}

.u-section-6 .u-image-4 {
  margin-left: 0;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/garjiya-temple-9948231.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-6 .u-text-6 {
  margin: 340px auto 0;
}

.u-section-6 .u-image-5 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Almora_Uttarakhand_India_2013.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-6 .u-text-7 {
  margin: 352px auto 0;
}

.u-section-6 .u-image-6 {
  margin-left: 0;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Nainital_metro1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 32px;
}

.u-section-6 .u-text-8 {
  margin: 352px 5px 0;
}

.u-section-6 .u-image-7 {
  margin-left: 0;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/mankameshwar-temple-ranikhet1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-6 .u-text-9 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-image-8 {
  margin-left: 0;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/mukteshwar-4534559.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-6 .u-text-10 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-6 .u-image-9 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Bhowali_City_02.jpg");
}

.u-section-6 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-6 .u-text-11 {
  font-size: 2.25rem;
  margin: auto auto 0;
}

.u-section-6 .u-image-10 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/454px-Katarmal.jpg");
}

.u-section-6 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-6 .u-text-12 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-6 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 12px);
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 537px;
  }

  .u-section-6 .u-shape-2 {
    width: 537px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 498px);
  }

  .u-section-6 .u-slider-1 {
    height: auto;
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 843px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 122px);
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 570px;
    margin-top: -133px;
    margin-right: calc(((100% - 720px) / 2) + -82px);
  }

  .u-section-6 .u-shape-2 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2) + 27px);
    margin-left: calc(((100% - 720px) / 2) + 251px);
  }

  .u-section-6 .u-slider-1 {
    width: 683px;
    min-height: 442px;
    margin-top: 89px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 819px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -12px;
    margin-left: calc(((100% - 540px) / 2) + -192px);
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 506px;
    margin-top: -144px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-2 {
    width: 506px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + -20px);
    margin-left: calc(((100% - 540px) / 2) + 118px);
  }

  .u-section-6 .u-slider-1 {
    width: 500px;
    margin-top: 94px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 558px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -207px;
    margin-left: calc(((100% - 340px) / 2) + -220px);
  }

  .u-section-6 .u-rotation-parent-1 {
    width: calc(((100% - 340px) / 2) + 250px);
    height: 70px;
    margin-top: -139px;
  }

  .u-section-6 .u-shape-2 {
    width: 300px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -51px;
    margin-right: calc(((100% - 340px) / 2) + -58px);
    margin-left: calc(((100% - 340px) / 2) + 58px);
  }

  .u-section-6 .u-slider-1 {
    width: 297px;
    margin-top: 44px;
  }

  .u-section-6 .u-text-2 {
    margin-top: auto;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.125rem;
    margin-top: auto;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.125rem;
    margin-top: auto;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.125rem;
    margin-top: auto;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 819px;
}

.u-section-7 .u-image-1 {
  width: 166px;
  height: 166px;
  background-image: url("images/WhatsAppImage2022-03-31at21.10.24.jpeg");
  background-position: 50% 50%;
  margin: 128px auto 0 63px;
}

.u-section-7 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("images/WhatsAppImage2022-03-31at21.10.01.jpeg");
  background-position: 50% 50%;
  filter: brightness(0.8);
  margin: -415px auto 0 212px;
}

.u-section-7 .u-image-3 {
  width: 460px;
  height: 460px;
  background-image: url("images/WhatsAppImage2022-03-31at16.43.11-21.jpeg");
  background-position: 50% 50%;
  margin: -187px 224px 0 auto;
}

.u-section-7 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -99px auto 0 307px;
}

.u-section-7 .u-group-1 {
  margin-top: 0;
  margin-bottom: 1px;
  min-height: 338px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px 0;
}

.u-section-7 .u-text-1 {
  font-weight: bold;
  font-family: Lato, sans-serif;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 5px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 53px auto 0;
  padding: 16px 52px 17px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 140px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -428px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -154px;
    margin-right: 54px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -129px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-text-1 {
    font-weight: 700;
    margin-top: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 1px;
    margin-left: 226px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -143px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -165px;
    margin-left: 114px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 46px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -56px;
    margin-left: 11px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -194px;
    margin-right: 27px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -40px;
    margin-left: 92px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 13px;
    margin-bottom: 0;
    min-height: 307px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 214px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -380px;
    margin-right: -34px;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    margin-top: 17px;
    margin-bottom: 50px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 36px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 481px;
}

.u-section-8 .u-group-1 {
  width: 970px;
  min-height: 417px;
  margin: 14px auto 50px 65px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -65px -21px 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 6rem;
  font-style: italic;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 32px 78px 0;
}

.u-section-8 .u-table-1 {
  width: 736px;
  margin: 32px auto 0;
}

.u-block-d3bc-13 {
  border-style: solid;
}

.u-block-d3bc-18 {
  height: 46px;
}

.u-block-d3bc-19 {
  border-style: solid;
}

.u-block-d3bc-20 {
  border-style: solid;
}

.u-section-8 .u-table-body-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-8 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-2 {
  border-style: solid;
}

.u-block-d3bc-29 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-8 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-8 .u-group-1 {
    min-height: 309px;
    margin-top: -114px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-table-1 {
    width: 340px;
  }
}