 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/WhatsAppImage2022-03-31at16.43.11.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  height: 106px;
  width: 357px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  margin: 22px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 47px 104px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 64px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 200px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 875px;
}

.u-section-2 .u-group-1 {
  width: 970px;
  min-height: 560px;
  height: auto;
  margin: 101px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 334px;
  height: 334px;
  background-image: url("images/WhatsAppImage2022-03-31at16.43.11-19.jpeg");
  background-position: 50% 50%;
  margin: -47px 166px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 3px;
  margin: -167px 100px 0 55px;
}

.u-section-2 .u-text-2 {
  margin: 141px 40px 0 596px;
}

.u-section-2 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -123px auto 0 17px;
}

.u-section-2 .u-text-3 {
  font-weight: bold;
  font-family: Lato, sans-serif;
  font-size: 3.75rem;
  margin: 82px 658px 0 324px;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: 118px;
  background-image: none;
  margin: -92px auto 40px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-image-1 {
    filter: brightness(0.8);
  }

  .u-section-2 .u-text-1 {
    margin-right: 85px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 25px;
    margin-left: 581px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 558px;
    margin-left: 224px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 470px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 386px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 448px;
    margin-left: 114px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 360px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: 206px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 358px;
    margin-left: 24px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 270px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 182px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 170px);
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 353px;
}

.u-section-3 .u-list-1 {
  width: 1142px;
  margin: 0 -1px 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: scale(1.5) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 7px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: scale(1.5) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 7px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: scale(1.5) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 7px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: scale(1.5) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 7px;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 217px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.5) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-3 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 291px;
}

.u-section-4 .u-list-1 {
  width: 1142px;
  margin: -62px -1px 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 217px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-4 .u-icon-1,
.u-section-4 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-2,
.u-section-4 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-3,
.u-section-4 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-4,
.u-section-4 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-4 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.46) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-4 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-4 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 291px;
}

.u-section-5 .u-list-1 {
  width: 1142px;
  margin: -62px -1px 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 263px;
  grid-gap: 22px 22px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 6px;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 217px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-5 .u-icon-1,
.u-section-5 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-5 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-2,
.u-section-5 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-5 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-5 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-3,
.u-section-5 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-5 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-5 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-4,
.u-section-5 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-5 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.43) translateX(0px) translateY(0px) !important;
  background-color: #98c93c !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-5 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 321px;
}

.u-section-6 .u-list-1 {
  width: 561px;
  margin: -62px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  min-height: 263px;
  grid-gap: 22px 22px;
  grid-auto-columns: calc(50% - 11px);
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1285px;
}

.u-section-7 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/WhatsAppImage2022-03-31at21.10.01.jpeg");
  background-position: 50% 50%;
  filter: brightness(0.8);
  margin: 122px 96px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 389px;
  height: 389px;
  background-image: url("images/photo-1483197452165-7abc4b248905.jpg");
  background-position: 50% 50%;
  margin: -270px auto 0 156px;
}

.u-section-7 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -261px 69px 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 358px;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-7 .u-text-1 {
  font-weight: bold;
  font-family: Lato, sans-serif;
  font-size: 3.75rem;
  margin: 5px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  width: 359px;
  margin: 30px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0;
  padding: 16px 52px 17px;
}

.u-section-7 .u-image-3 {
  width: 276px;
  height: 276px;
  background-image: url("images/photo-1418065460487-3e41a6c84dc5.jpg");
  background-position: 50% 50%;
  margin: -1071px auto 0 71px;
}

.u-section-7 .u-shape-2 {
  width: 119px;
  height: 119px;
  margin: 20px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-right: 92px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -182px;
    margin-left: 151px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -212px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-3 {
    width: 320px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 64px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 893px;
}

.u-section-8 .u-group-1 {
  width: 534px;
  min-height: 163px;
  background-image: none;
  margin: 60px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-family: Lato, sans-serif;
  margin: 15px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 945px;
  margin: 30px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 590px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 16px 52px 17px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 652px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-8 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/rr.jpg");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-8 .u-text-4 {
  text-align: left;
  margin: 20px 0 0 auto;
}

.u-section-8 .u-btn-2 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-8 .u-group-1 {
    min-height: 143px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    width: 324px;
    height: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 460px;
    height: 460px;
    margin-left: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1281px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 798px;
}

.u-section-9 .u-list-1 {
  width: 1033px;
  margin: 163px auto 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 515px;
  grid-gap: 33px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-9 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/tftry-min.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 39px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-9 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-9 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/179e3070fef24a69f43a814d1e55e6d1d1ec1b7d9d6d10d78509c61a93daa84dbaa63ffdd8cde1f8329d25c6593e42c3a1abd2746cb689f7c87497_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 39px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-9 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-9 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-9 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/bbb.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 39px 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-9 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-9 .u-text-7 {
  font-weight: 400;
  margin: 38px auto 56px;
}

.u-section-9 .u-btn-4 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-9 .u-list-1 {
    width: 940px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1078px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
    margin-top: 55px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-7 {
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-10 {
  min-height: 438px;
}

.u-section-10 .u-gallery-1 {
  height: 438px;
  margin: 0 0 0 auto;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 362px;
  }

  .u-section-10 .u-gallery-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 623px;
  }

  .u-section-10 .u-gallery-1 {
    height: 830px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1867px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1868px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 1176px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1176px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-11 .u-shape-1 {
  width: 246px;
  height: 246px;
  background-image: none;
  margin: 60px auto 0 712px;
}

.u-section-11 .u-image-1 {
  width: 650px;
  height: 650px;
  background-image: url("images/ertt.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -246px auto 0 51px;
}

.u-section-11 .u-group-1 {
  width: 613px;
  min-height: 501px;
  background-image: none;
  margin: -240px auto 0 507px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 0 43px 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 26px 0 0;
}

.u-section-11 .u-text-3 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-11 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 40px auto 0 0;
  padding: 16px 52px 17px;
}

.u-section-11 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: -428px auto 320px 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-11 .u-shape-1 {
    margin-left: 694px;
  }

  .u-section-11 .u-image-1 {
    margin-top: -159px;
    margin-left: 28px;
  }

  .u-section-11 .u-group-1 {
    margin-top: -143px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-11 .u-shape-2 {
    margin-top: -526px;
    margin-bottom: 418px;
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-11 .u-shape-1 {
    margin-left: 474px;
  }

  .u-section-11 .u-image-1 {
    width: 554px;
    height: 554px;
    margin-top: -54px;
    margin-left: 26px;
  }

  .u-section-11 .u-group-1 {
    width: 447px;
    margin-top: -119px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-shape-2 {
    width: 138px;
    height: 138px;
    margin-top: -536px;
    margin-bottom: 458px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-11 .u-shape-1 {
    margin-left: 294px;
  }

  .u-section-11 .u-image-1 {
    width: 434px;
    height: 434px;
    margin-top: -31px;
    margin-left: 13px;
  }

  .u-section-11 .u-group-1 {
    min-height: 517px;
    margin-top: 68px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: -698px;
    margin-bottom: 620px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-11 .u-shape-1 {
    margin-left: 94px;
  }

  .u-section-11 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-11 .u-group-1 {
    min-height: 502px;
    margin-top: 78px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-shape-2 {
    width: 96px;
    height: 96px;
    margin-top: -647px;
    margin-bottom: 611px;
    margin-left: 8px;
  }
}